.calend{
    background-color: rgba(205, 214, 219, 0.3);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

/*стили Calendar*/

.calendar-header{
    display: flex;
    justify-content: center;
    padding: 0.25em 0em;
}
.calendar-header-title{
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}
.calendar-body{
    padding: 0.5em;
    
}
/*-----------------------------------------------------------------*/
/*стили MonthComponent*/
.calendar-month{
    margin-left: auto;
    margin-right: auto;
}
.calendar-month-header{

}
.calendar-month-header td{
    background-color: rgb(93, 111, 126);
}
.calendar-month-body{

}
/*-----------------------------------------------------------------*/
/*стили WeekComponent*/
.calendar-week{

}
.calendar-week-header{
    background-color: rgb(39, 73, 104);
}
/*-----------------------------------------------------------------*/
/*стили DayComponent*/
.calendar-day{
    border: 1px solid rgb(121, 126, 128);
}
.calendar-day-disable{
    opacity: 0.5;
}

.calendar-day-holiday{
    border: 1px solid rgb(165, 103, 103);
    background-color: rgb(175, 60, 60);
}

.calendar-day-current{
    border-width: 2px !important;
    font-size: 1.1em;
    font-weight: 700;
    font-style: italic;
    background-color: rgb(51, 102, 119);
}

.calendar-day-work-hour{
    display: inline-block;
    width: 100%;
    text-align: end;
}

.calendar-day-date{
    margin: auto;
}