.calend{
    background-color: rgba(205, 214, 219, 0.3);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.seekday{
    background-color: rgb(103, 117, 165);
    width: 1em;
    height: 1em;
}

.holiday{
    background-color: rgb(151, 162, 172);
    width: 1em;
    height: 1em;
}

.vacation{
    background-color: rgb(165, 164, 103);
    width: 1em;
    height: 1em;
}

.short{
    background-color: rgb(103, 165, 113);
    width: 1em;
    height: 1em;
}

/*стили Calendar*/

.calendar-header{
    display: flex;
    justify-content: center;
    padding: 0.25em 0em;
}
.calendar-header-title{
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}
.calendar-body{
    padding: 0.5em;
    
}
/*-----------------------------------------------------------------*/
/*стили MonthComponent*/
.calendar-month{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(226, 226, 226);
}
.calendar-month-header{

}
.calendar-month-header td{
    background-color: rgb(93, 111, 126);
}
.calendar-month-body{
}
/*-----------------------------------------------------------------*/
/*стили WeekComponent*/
.calendar-week{

}
.calendar-week-header{
    background-color: rgb(39, 73, 104);
}
/*-----------------------------------------------------------------*/
/*стили DayComponent*/
.calendar-day{
    cursor: pointer;
    border: 1px solid rgb(121, 126, 128);
    color: black;
}
.calendar-day:hover *{
    font-size: 1.1em;
    font-weight: 700;
}
.calendar-day-disable{
    opacity: 0.5;
}
.calendar-day-selected{
    border: 2px solid rgb(34, 134, 141) !important;
}
.calendar-day-holiday{
    border: 1px solid rgb(121, 126, 128);
    background-color: rgb(151, 162, 172);
}

.calendar-day-current{
    border-width: 2px !important;
    border-color:rgb(42, 49, 54);
}
.calendar-day-current *{
    font-size: 1.1em;
    font-weight: 700;
    font-style: italic;
}
.calendar-day-work-hour{
    display: inline-block;
    width: 100%;
    text-align: end;
}

.calendar-day-date{
    margin: auto;
    font-size: 0.8em;
}

.calendar-day-short{
    background-color: rgb(103, 165, 113) !important;
}
.calendar-day-sick{
    background-color: rgb(103, 117, 165);
}
.calendar-day-vacation{
    background-color: rgb(165, 164, 103);
}
