.calend{
    background-color: rgba(205, 214, 219, 0.3);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

/*стили Calendar*/

.calendar-header{
    display: flex;
    justify-content: center;
    padding: 0.25em 0em;
}
.calendar-header-title{
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
}
.calendar-body{
    padding: 0.5em;
    
}
/*-----------------------------------------------------------------*/
/*стили MonthComponent*/
.calendar-month{
    margin-left: auto;
    margin-right: auto;
}
.calendar-month-header{

}
.calendar-month-header td{
    background-color: rgb(93, 111, 126);
}
.calendar-month-body{

}
/*-----------------------------------------------------------------*/
/*стили WeekComponent*/
.calendar-week{

}
.calendar-week-header{
    background-color: rgb(39, 73, 104);
}
/*-----------------------------------------------------------------*/
/*стили DayComponent*/
.calendar-day{
    cursor: pointer;
    border: 1px solid rgb(121, 126, 128);
}
.calendar-day:hover *{
    font-size: 1.1em;
    font-weight: 700;
}
.calendar-day-disable{
    opacity: 0.5;
}
.calendar-day-selected{
    border: 2px solid white !important;
}
.calendar-day-holiday{
    border: 1px solid rgb(165, 103, 103);
    background-color: rgb(175, 60, 60);
}

.calendar-day-current{
    border-width: 2px !important;
    border-color:rgb(42, 49, 54);
}
.calendar-day-current *{
    font-size: 1.1em;
    font-weight: 700;
    font-style: italic;
}
.calendar-day-work-hour{
    display: inline-block;
    width: 100%;
    text-align: end;
}

.calendar-day-date{
    margin: auto;
}

.calendar-day-short{
    background-color: rgb(103, 165, 113);
}
.calendar-day-sick{
    background-color: rgb(103, 117, 165);
}
.calendar-day-vacation{
    background-color: rgb(165, 164, 103);
}
